*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overscroll-behavior-y: contain;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

#root {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
